<h1>An Ultimate Player's Manifesto: Mission Brochure</h1>
<div class="container">
  <div id="portfolio-description">
    <p>
      If the sport of Ultimate Frisbee brings to your mind kooky characters running around in costume and having more fun
      than you could even consider having sprinting after a 175 gram piece of plastic &mdash; then you aren't wrong &mdash;
      but you are missing part of the picture.
      <br>
      <br>
      The Ultimate Player's Manifesto is a mission brochure created as a marketing campaign to appeal to the
      social concern common in the ultimate community. The Manifesto is a petition by The Ultimate Project, an online
      platform that connects people to the sport of Ultimate Frisbee.
      <br>
      <br>
      The interactive design of this brochure facilitates a meditative exploration of the values that an ultimate player
      possesses. Through the user's experience opening the Manifesto, they are prompted to consider why they play and
      what they stand for.
    </p>
  </div>
  <div id="portfolio-images">
    <img src="../../../assets/Manifesto.jpg" id="manifesto-mockup"/>
  </div>
</div>
