<h1>About</h1>
<p id="summary">
  A multi-faceted millenial with interests ranging from anthropology and design, to local food and bicycle touring &mdash;
  my aim is to create striking and exciting designs that effortlessly convey deeper meaning and
  facilitate understanding in and between people.
</p>
<div id="tryptic">
  <img src="../../assets/1-ItalianDoor.jpg" class="trypticpane" alt="Italian Door - Pane 1"/>
  <img src="../../assets/2-PoppyField.jpg" class="trypticpane" id="middle" alt="Poppy Field - Pane 2"/>
  <img src="../../assets/3-PoppyField.jpg" class="trypticpane" id="right" alt="Poppy Field - Pane 3"/>
</div>


<h2 id="experiences-heading">Experiences</h2>
<div id="about-body-text">
    <p id="service-summary">
        My professional experiences are as varied as my interests. With background in anthropology, content marketing, graphic design,
        museum exhibit design, web design, and front-end web development &mdash; I approach design problems from an interdisciplinary perspective.
    </p>
    <div id="resume-link">
      <a  routerLink="/resume">Peruse my resume...</a>
    </div>

  <a  routerLink="/contact">
    <img src="../../assets/Let'sExchangeDeets.png" id="about-cta-icon" alt="Get in touch"/>
  </a>
    <h2>Skills and Services</h2>
  <p>Looking for a fresh perspective on an upcoming project? Need help in one of the following design areas? </p>
    <ul>
      <li>Print</li>
      <li>Web</li>
      <li>Mobile</li>
      <li>Logo</li>
      <li>User experience</li>
      <li>Front-end web development</li>
    </ul>
  <h4 id="about-CTA">Let me help make your vision a reality. <a routerLink="/contact">Get in touch.</a></h4>
  <h4 id="about-CTA-mobile">Let me help make your vision a reality.
    <br>
    <a  routerLink="/contact">Get in touch.</a></h4>
    <a  routerLink="/contact">
      <img src="../../assets/Let'sExchangeDeets.png" id="about-cta-icon-small" alt="Get in touch"/>
    </a>

</div>


