<h1>Celebratory Wine Label</h1>
<div class="container">
  <div id="portfolio-description">
    <p>
      We all have a friend who is the star of every party, as brilliant as a sparkler on the Fourth of July and
      effervescent as a glass of Lambrusco.
      <br>
      <br>
      This celebratory wine label was created in honor of that friend, because face it &mdash; your life would
      not be half as bubbly without her.
      <br>
      <br>
      The upbeat color scheme and copy set the mood for celebration. A monochromatic background allows for fizzy
      fun, without being distracting to the eye. A custom label like this is the perfect gift for your
      bubbliest friend.
    </p>
  </div>
  <div id="portfolio-images">
    <img src="../../../assets/fizziology-mockup.jpg" id="fizz"/>
  </div>
</div>
