h1 {
  text-align: left;
  -webkit-margin-before: 0;
  margin-left: 5%;

}

.container {
  display: inline-flex;
  flex-direction: row;
  margin: 0 5% 5% 5%;
}

#portfolio-description {
  width: 25%;
  align-self: flex-start;
  position: sticky;
  top: 0;
}

#portfolio-images {
  position: relative;
  width: 100%;
}

.report {
  width: 90%;
  margin: 0 0 2% 5%;
}
