<h1>Year in Review: Holiday Card</h1>
<div class="container">
  <div id="portfolio-description">
    <p>
      Holidays are a time for togetherness, great food, and ceaseless questions &mdash; until you swear your relatives have
      conspired to psychologically torture you until you crack and throw a handful of mashed potatoes at your dear
      Aunt Mildred's head.
      <br>
      <br>
      This card was created for friends that wanted to not only staunch the aforementioned questions ("Here grandma,
      read this first and ask questions later!"), but also break free from the monotony of another Shutterfly photo card.
      <br>
      <br>
      The use of a multi-fold design draws the reader in with each fold &mdash; facilitating a participatory experience
      that is sorely lacking in mainstream greeting cards.
    </p>
  </div>
  <div id="portfolio-images">
    <img src="../../../assets/Annual-Report-3.jpg" class="report"/>
    <img src="../../../assets/Annual-Report-1.jpg" class="report"/>
    <img src="../../../assets/Annual-Report-2.jpg" class="report"/>
  </div>
</div>
