<h1>Contact</h1>
<div id="contact-container">
  <img src="../../assets/Contact-header.png" id="contact-CTA-smallscreen"/>
  <div id="contact-block">

    <a href="http://www.instagram.com/sigstens" class="contact-link">
      <div class="contact">
            <img src="../../assets/instagram-icon.png" class="contact-icon"/>
            <h3 class="contact-text">@sigstens</h3>
        </div>
    </a>

    <a href="http://www.github.com/sigridstens" class="contact-link">
        <div class="contact">
              <img src="../../assets/github-icon.png" class="contact-icon"/>
              <h3 class="contact-text">sigridstens</h3>
        </div>
    </a>

    <a href="mailto:sigridstens@gmail.com" class="contact-link">
      <div class="contact">
        <img src="../../assets/email-icon.png" class="contact-icon"/>
        <h3 class="contact-text">sigridstens@gmail.com</h3>
      </div>
    </a>

  </div>
  <img src="../../assets/Contact-header.png" id="contact-CTA-largescreen"/>
</div>


<!--<div id="project-request">-->
    <!--<h2>Project Request</h2>-->
    <!--<p>-->
      <!--Ready to get to work on your next project? Submit a project request with your concept and I will reach out-->
      <!--to you soon.-->
    <!--</p>-->
  <!--<form>-->
      <!--First Name:-->
      <!--<input type="text" name="name">-->
      <!--Last Name:-->
      <!--<input type="text" name="name">-->
    <!--<br>-->
    <!--Email:-->
    <!--<input type="text" name="email">-->
    <!--<br>-->
    <!--<br>-->
    <!--Project Title:-->
    <!--<input type="text" name="projecttitle">-->
     <!--<br>-->
    <!--Description:-->
    <!--<br>-->
    <!--<textarea name="projectdescription"></textarea>-->
    <!--<br>-->
    <!--<input type="button" onclick="alert('Your project has been submitted!')" value="Submit Project!">-->

  <!--</form>-->
<!--</div>-->
