<h1>Portfolio</h1>
<div class="portfolio">
  <a  routerLink="/portfolio/personalbranding">
    <div class="p">
      <img src="../../assets/business-card-back-orange.png" id="business-card" height="300" width="329"/>
    </div>
  </a>
  <a  routerLink="/portfolio/annualupdate">
  <div class="p">
      <img src="../../assets/Custom-Holiday-Card-2017.jpg" id="holiday" width="801" height="300px"/>
    </div>
  </a>
</div>

<div class="portfolio">
  <a  routerLink="/portfolio/seatosan">
    <div class="p">
      <img src="../../assets/SEAtoSAN.jpg" width="1160" />
    </div>
  </a>
</div>

<div class="portfolio">
    <a routerLink="/portfolio/valentine">
  <div class="p">
    <img src="../../assets/Valentines.jpg" width="801" height="300">
  </div>
  </a>

  <a  routerLink="/portfolio/fizziology">
  <div class="p">
    <img src="../../assets/Fizziology.jpg" width="300" height="300" >
  </div>
  </a>
</div>

<div class="portfolio">
  <a  routerLink="/portfolio/farkle">
    <div class="p">
      <img src="../../assets/ScoreboardApp.jpg" width="1160" height="300"/>
    </div>
  </a>
</div>

<div id="port7">
  <a  routerLink="/portfolio/manifesto">
    <div class="p">
      <img src="../../assets/Manifesto.png" id="manifesto" height="300" width="329"/>
    </div>
  </a>
  <a  routerLink="/portfolio/personalbranding">
    <div id="port8" class="p">
      <img src="../../assets/Custom-Holiday-Card-2017.jpg" id="holiday" width="801" height="300px"/>
    </div>
  </a>
</div>

