h1 {
  text-align: left;
  -webkit-margin-before: 0;
  margin-left: 5%;

}

.portfolio {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#1{
  width: 75px;
  height: 75px;
}
.p {
  margin: 2vw;

}



#2{
  flex: 2;
  width: 40%;

}

#3{

}

#4 {

}


#5 {
  flex: 1;

}

#business-card {
}

#holiday {

}



