h1 {
  text-align: left;
  -webkit-margin-before: 0;
  margin-left: 5%;

}

.portfolio {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.p {
  margin: 2vw;

}

#port7 {
  justify-self: flex-start;
  margin: 0 0 0 10%;
}

#port8 {
  display: none;
}

@media screen and (max-width: 1215px) {
  .portfolio {
    display: inline-flex;
    flex-direction: column;
    }
  img {
    width: 90%;
    margin: 5%;
    height: auto;
  }

}
