<h1>Year in Review: Holiday Card</h1>
<div class="container">
  <div id="portfolio-description">
    <p>
      Elegant yet classic, colorful yet uncomplicated, casual yet sophisticated &mdash; a classically indecisive millennial
      with interest running the gamut, my brand expresses multitudes.
      <br>
      <br>
      In continuation of an ongoing existential conversation with myself, this project was an opportunity to distill my
      personality and style into a brand that suggests, but does not limit who I am.
      <br>
      <br>
      The rich and bold color scheme and iconic, while whimsical, design is influenced by Italian landscapes, vintage
      fashion, and wild opportunistic tuscan poppies in bloom. My brand honors the beauty of careful simplicity.

    </p>
  </div>
  <div id="portfolio-images">
    <img src="../../../assets/Sigrid-Personal-Brand-01.jpg"/ id="Brand">
  </div>
</div>
