<h1>Comfort Food Valentine Cards</h1>
<div class="container">
  <div id="portfolio-description">
    <p>
      Ah, Valentine's Day &mdash; a celebration of extroverted love and commercialism, when despite your cynical nature
      you find your self wandering through aisle after aisle of greeting cards and chocolate trying to find your feelings
      reflected in a canned Hallmark card.
      <br>
      <br>
      This series of Valentines was created to appeal to the humor of lovers who lunch (and dinner, and dessert). Because
      in the arena of love, when has ice cream ever let you down?
      <br>
      <br>
      The bright color scheme conveys cheer and excitement. Puns and wit collide merrily with adorable illustrations to
      create anthropomorphic comfort food to make even your grumpiest friend or lover smile. Go ahead, eat your heart out.
    </p>
  </div>
  <div id="portfolio-images">
    <img src="../../../assets/Valentines-website.jpg" id="val-cards"/>
  </div>
</div>
