<h1>SEA to SAN : Pacific Coast bike tour journal</h1>
<h3>Role: Web and graphics designer</h3>
<a href="http://www.120spokes.com" id="spokes-link">Visit  original site.</a>
<div class="container">
  <div id="portfolio-description">
    <p>
      Think back to your adolescent adventures by bike and the inexplicable freedom you felt pedaling around your
      neighborhood, propelled by destiny, which you would later term: youthful exuberance. Now multiply that feeling
      by 1,082 miles &mdash; down coastal highways careening around curves, mounting cliffs, carrying your life on
      your bike.
      <br>
      <br>
      <a href="http://www.120spokes.com">SEA to SAN</a> is an online journal chronicling a month-long bike tour from Seattle, WA, to San Francisco, CA.  A
      co-creation by my partner Kevin and me, the website follows our daily excitements, pains, and general whims
      conveying the joys and misadventures encountered when traveling by bicycle.  SEA to SAN was born from the dust
      from our tires and the spotty internet connection we had en route.
      <br>
      <br>
      The jaunty graphics and clean design construct a simple layout that frames the content, highlighting the
      stories from the road and increasing mileage down the coast.
    </p>
  </div>
    <div id="portfolio-images">
      <a href="http://www.120spokes.com">
        <img src="../../../assets/SEAtoSAN-website.jpg" id="spokes"/>
      </a>
    </div>
</div>
