<div id="body-content">
  <div id="home-body-text">
    <img src="../../assets/SpaceLanding.jpg" alt="space-landing" id="space-landing">
    <h1 id="intro-title">
      Fax-whisperer by day,
      aspiring designer by night.
    </h1>
    <p>I am a self-driven student of graphic and web design, with a fascination in user experience and a day job at a Minneapolis non-profit.
      <br><br>
      Formally educated in Anthropology, I have spent my professional years collecting experiences in content marketing, interpretive exhibit planning, project management, and graphic design.
      My interdisciplinary background has shaped my approach to design–focusing my work on creating experiences and designs that are enjoyable and improve the lives of the people who interact with them.
    </p>
  </div>
</div>
<div id="bar">
  <a routerLink="/portfolio">
  <img src="../../assets/skills&services.png"  id="bar">
  </a>
</div>


<div id="contact-bar">
  <div id="contact-header">
    <div id="contact-title">
      <h1 id="reach-out">Get in touch!</h1>
    </div>
  </div>
  <div id="contact">
    <div class="icon-container">
          <a href="mailto:sigridstens@gmail.com" >
          <img src="../../assets/email-icon.png" alt="Email" class="icon"/>
        </a>
    </div>
    <div class="icon-container">
        <a href="http://www.instagram.com/sigstens" >
          <img src="../../assets/instagram-icon.png" alt="Instagram" class="icon"/>
        </a>
    </div>
    <div class="icon-container">
        <a href="http://www.github.com/sigridstens" >
          <img src="../../assets/github-icon.png" alt="Github" class="icon"/>
        </a>
    </div>
  </div>
</div>
