<h1>Farkle Scoreboard, mobile scorekeeeper</h1>
<div class="container">
  <div id="portfolio-description">
    <h3>Role: UI and graphics designer</h3>
    <p>
      Whether your adventurous nature takes you to a brewery, a weeknight board game party, or a 1,000 mile bike trip,
      you won't want to be caught empty-handed.  That is why you never leave the house without a set of dice
      for an impromptu farkle match.  Now that you have downloaded Farkle Scoreboard on your phone, six dice
      and your wand are all you need to have a roaring good time.
      <br>
      <br>
      Farkle Scoreboard is a mobile app, co-created by my partner, Kevin, and me to score and record our game stats,
      so we can keep track of exactly how many times I have defeated him. I designed the interface and graphics, while
      he breathed air into its binary lungs using Kotlin and XML.
      <br>
      <br>
      The use of color and attention to human-centered design principles makes for a friendly and functional application
      that users will enjoy even if the odds are not in their favor.
    </p>
  </div>
  <div id="portfolio-images">
    <img src="../../../assets/Scoreboard-website.jpg" id="scoreboard-mockup"/>
  </div>
</div>
